$size: 11px;

.legend{
  span{
    display: inline-block;
    height: $size;
    width: $size;
    border: 1px solid lightgray;
    font-size: $size;
    line-height: $size;
    &.free{
      background-color: lightgreen;
    }
    &.bought {
      background-color: white;
    }
    &.owned {
      background-color: palegoldenrod;
    }
    &.selected {
      background-color: yellow;
    }
  }
}
.Grid {
  border: 1px solid lightgray;
  position: relative;
  width: $size*100;
  height: $size*100;
  display: flex;
  flex-direction: column;
  &__loading{
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    text-align: center;
    vertical-align: center;
    background-color: rgba(50, 50, 50, 0.3);
    line-height: 100%;
    align-items: center;
    align-content: center;
    span {
      align-items: center;
      text-align: center;
      width:100%;
      font-size: 300%;
      color: white;
    }
  }
  &__row{
    display: flex;
  }
  &__cell{
    cursor: pointer;
    width: $size;
    height: $size;
    font-size: $size - 2px;
    //border: 1px solid red;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    line-height: $size;
    background-color: lightgreen;
    border: 1px solid #fff;

    &--bought {
      background-color: white;
      border: 0 solid transparent;
    }
    &--owned{
      background-color: palegoldenrod;
      border: 1px solid #fff;
    }
    &--selected {
      background-color: yellow;
      border: 1px solid #fff;
    }
  }
}